{% extends "base.html" %}

{% block content %}
    <h1>Profile</h1>
    <form method="POST">
    	{% csrf_token %}
		{{ user_form.non_field_errors }}
		{% for field in user_form %}
		    <div class="field-wrapper">
	            {% for error in field.errors %}
	             	<div>{{ error|escape }}</div>
	            {% endfor %}
		        {{ field.label_tag }}
		        {{ field }}
		        {% if field.help_text %}
		        <span class="help">{{ field.help_text|safe }}</span>
		        {% endif %}
		    </div>
		{% endfor %}
		{% for field in profile_form %}
		    <div class="field-wrapper">
	            {% for error in field.errors %}
	             	<div>{{ error|escape }}</div>
	            {% endfor %}
		        {{ field.label_tag }}
		        {{ field }}
		        {% if field.help_text %}
		        <span class="help">{{ field.help_text|safe }}</span>
		        {% endif %}
		    </div>
		{% endfor %}
		<button type="submit">Save changes</button>
    </form>
{% endblock %}
